@import "./../node_modules/tailwindcss/index.css";



@theme {
  --color-yellow-bg: #f5e643;
  --color-yellow-pink: #E697E6;
  --default-font-family:"Poppins", sans-serif;
  --color-button-bg:#FF7F00;
  
}
.thumbnail_box-shadow { 
box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 20px 0px;
}

.dot-loader {
  width: 25px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1.5s steps(4) infinite;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}